<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/login.css">
    <title>MOBISTORE | LogIn</title>
</head>

<body>
    <% if (errorMessage) { %>
        <div class="message user-message--error">
            <div class="error">
                <%= errorMessage %>
            </div>    
        </div>
    <% } %>

    <div class="container">
        <div class="wrapper">
            <div class="title">
                <div class="website_Logo">
                    <a href="/"><img width="190" src="/img/weblogo.png" alt=""></a>
                </div>
            </div>
            <form action="/admin/user/login" method="POST">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input 
                        class=" <%= validationErrors.find(e=> e.param==='email') ? 'invalid' : ''  %> "
                        type="email" 
                        name="email" 
                        id="email" 
                        value="<%= oldInput.email %> " 
                        placeholder="Email or Phone"
                        required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password"
                        class=" <%= validationErrors.find(e=> e.param==='password') ? 'invalid' : ''  %> " 
                        name="password"
                        id="password"
                        value="<%= oldInput.password %>"
                        required>
                </div>
                <div class="pass"><a href="#">Forgot password?</a></div>
                <div class="row button">
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member? <a href="/admin/user/signup">Sign Up</a></div>
            </form>
        </div>
    </div>
</body>

</html>