<%- include('./dashinclude/head.ejs') %>
        #liveserach{
            background-color:gainsboro;
            border-color: black;
            border-width: thin;
            border-style: solid;
            width: 170px;
        }
        .hide{
            display: none;
        }
        a:link,
        a:hover,
        a:visited,
        a:active{
            color: black;
        }

    </style>
    <link rel="stylesheet" href="/css/register.css">

    </head>

    <body>

        <%- include('./dashinclude/main.ejs') %>
            <main>

                <!-- 
                <form action="">
                    <label for="mobilebrand">select brand</label>
                    <select id="mobilebrand">
                        <option value="" selected="selected">select</option>
                        <option value="Iphone">Iphone</option>
                        <option value="Realme">Realme</option>
                        <option value="Mi">Mi</option>
                        <option value="Vivo">Vivo</option>
                        <option value="Oppo">Oppo</option>
                        <option value="OnePlus">OnePlus</option>
                    </select>

                    <label for="model">model</label>
                    <select id="model">
                        <option value="" selected="selected">select</option>
                        <option value="Iphone" class="modelvalue">Iphone</option>
                    </select>
                </form>  -->

                <form action="/admin/dashboard/<% if(editing) {%>edit-product<%} else {%>add-product<%}  %>  " method="POST">
                    <div class="items">
                        <div class="website_logo">
                            <a href="/"><img width="190" src="/img/weblogo.png" alt=""></a>
                        </div>
                        <div class="item item1">
                            <label for="">Enter mobile name</label>
                            <input type="text" name="name" placeholder="Enter mobile name" value="<% if(editing) { %> <%=product.name%> <% } %>  ">
                        </div>
                        <div class="item item2">
                            <label for="">Enter price</label>
                            <input type="number" name="price" placeholder="price" value="<% if(editing) { %> <%=product.price%> <% } %>  ">
                        </div>
                        <div class="item item3">
                            <label for="">Image Url</label>
                            <input type="text" name="imageurl" id="" placeholder="Image Url" value="<% if(editing) { %> <%=product.imageurl%> <% } %>  ">
                        </div>
                        <div class="item item4">
                            <label for="">Description</label>
                            <input type="text" name="description" placeholder="Description"value="<% if(editing) { %> <%=product.description%> <% } %>  ">
                        </div>
                        <div class="button">
                            <input type="submit" value="<% if(editing) { %> update product <% } else { %>  Add product <%}%>" class="btn">
                        </div>
                        <% if(editing) { %>
                            <input type="hidden" value="<%= product.id %> " name="productId">
                            <% } %>

                    </div>
                </form>

                <!-- <input type="text" onkeyup="search(this)">
                <section class="result"> -->

                </section>


            </main>
            <!-- https://www.youtube.com/@codetoredemption8821/featured -->
            <%- include('./dashinclude/footer.ejs') %>
            
            <script>
                <!--
                function search(e){
                    console.log(e.value);
                    fetch('http://localhost:2000/admin/dashboard/search',{
                        method:'POST',
                        headers:{
                            'Content-type':'applicatoin/json'
                        },
                        body:JSON.stringify({
                            search:e.value
                        })
                    })
                    .then(res=> res.json())
                    .then(resdata=> console.log(resdata))
                    .catch(err=>console.log(err))
                } -->


            </script>