<%- include('./dashinclude/head.ejs') %>
    <style>
        main {
            width: 100%;
            padding: 1rem;
         
        }
        .sortingSection{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;

        }
        main .grid {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 1rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;

        }

        main .grid .card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding-top: .5rem;
        }

        .card .card__image {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .card__image img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        .info {
            background-color: blanchedalmond;
        }

        .search{
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 1rem;
            background-color: rgb(234, 234, 234);
        }
        .search input{
            width: 50%;
            font-size: 1.4rem;
            padding: .2rem;
        }
        .search button{
            width: 6rem;
        }

        
    </style>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->

    </head>

    <body>
        
        <%- include('./dashinclude/main.ejs') %>

            <div class="search">
                <input type="text">
                <button>Search</button>
            </div>
            <main>
                <% if (prods.length> 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <div class="card__image">
                                    <img src="<%= product.imageurl %>" alt="">
                                </div>
                                <div class="info">
                                    <header class="card__header">
                                        <h1 class="product__title">
                                            <%= product.name %>
                                        </h1>
                                    </header>
                                    <div class="card__content">
                                        <h2 class="product__price">$
                                            <%= product.price %>
                                        </h2>
                                        <p class="product__description">
                                            <%= product.description %>
                                        </p>
                                    </div>
                                    <div class="card__actions">
                                        <a href="/admin/dashboard/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                                        <form action="/admin/dashboard/delete-product" method="POST">
                                            <input type="hidden" value="<%= product._id %>" name="productId">
                                            <button class="btn" type="submit">Delete</button>
                                        </form>

                                    </div>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>

            <%- include('./dashinclude/footer.ejs') %>