<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/order.css">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
</head>

<body>

    <main>
        <!-- <div class="product">
            <h1><%=prod._id %></h1>
        </div> -->
        <div>
            <div class="orderimage">
                <img src="<%= prod.imageurl %>" width="300" height="300" alt="">
            </div>
            <div class="specification">
                <ul class="first">
                    <li>
                        <%=prod.name%>
                            <%=prod.description %>
                    </li>
                </ul>
                <ul class="second">
                    <h2>Shop Detail</h2>

                    <li><span>Owner Name :</span>
                        <%= shop.Pname %>
                    </li>
                    <li><span>Shop Name :</span>
                        <%= shop.Bname %>
                    </li>
                    <li><span>Mobile No :</span>
                        <%= shop.Pnumber %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="priceOrderCompleteSection">
            <div class="priceDetails">

                <h2 class="priceDetail">PRICE DETAILS </h2>
                <div class="priceDetailsContainer">
                    <div class="itemPrice item">
                        <p>Item Price:</p>
                        <p>
                            <span>₹</span>
                            <span class="price"><%=prod.price %></span>
                        </p>
                    </div>
                    <div class="deliveryCharge item">
                        <p>Delivery Charge :</p>
                        <p>
                            <span>₹</span>
                            <span class="delivery">10</span>
                        </p>

                    </div>
                    <div class="bookingCharge item">
                        <p>booking Charge :</p>
                        <p>
                            <span>-</span>
                            <span>₹</span>
                            <span class="booking">100</span>
                        </p>
                    </div>
                    <div class="payableAmountDetails item">
                        <p class="payableAmount">Amount Payable :</p>
                        <p>
                            <span>₹</span>
                            <span class="payable"></span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="orderCompletion">
                <input type="submit" value="Complete Order">
            </div> -->

            <!-- Billing Details -->
            <div class="order">
                <form class="pay-form">
                    <h2>Billing Details</h2>
                    <div class="inner_form">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name" value="">
                        </div>
                        <div>
                            <input type="hidden" name="productname" value="<%= prod.name %> <%=prod.description %>">
                        </div>
                        <div>
                            <input type="hidden" name="image" value="<%= prod.imageurl%>">
                        </div>

                        <div>
                            <input type="hidden" name="userId" value="<%= user%>">
                        </div>
                        

                        <div>
                            <label for="mobile_number">Mobile Number</label>
                            <input type="number" name="mobile_number">
                        </div>

                        <div>
                            <input type="hidden" value="100" name="amount">
                        </div>

                        <div>
                            <label for="address">Address</label>
                            <textarea name="" id="" cols="40" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="productId" value="<%= prod._id %>">
                    </div>
                    <input type="submit" value="Complete Order">
                </form>
            </div>
            <div class="home none">
                <a href="/">Go to Home</a>
            </div>
        </div>
    </main>
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    const price=document.querySelector('.price').innerHTML
    const delivery=document.querySelector('.delivery').innerHTML
    const booking=document.querySelector('.booking').innerHTML
    const payable=document.querySelector('.payable')

    console.log(price)
    console.log(delivery)
    console.log(booking)

    let cal= parseInt(price)-parseInt(booking)+parseInt(delivery)
    payable.innerHTML=cal

    let res;
    setInterval(console.log(res),10000)
    const ordersection = document.querySelector('.order');
    const routehome=document.querySelector('.home')
    $(document).ready(function () {
        $('.pay-form').submit(function (e) {
            e.preventDefault();
            console.log('here')
            var formData = $(this).serialize();
            formData
            console.log(formData)
            $.ajax({
                url: "/createOrder",
                type: "POST",
                data: formData,
                success: function (res) {
                    console.log(res)
                    if (res.success) {
                        var options = {
                            "key": "" + res.key_id + "",
                            "amount": "" + res.amount + "",
                            "currency": "INR",
                            "name": "" + res.product_name + "",
                            "image": res.image,
                            "order_id": "" + res.order_id + "",
                            "handler": function (response) {
                                // window.open("/","_self")
                                console.log(response)
                                routehome.classList.remove('none')
                                ordersection.classList.add('ordercomplete')
                                ordersection.innerHTML = "Order Completed"
                            },
                            "prefill": {
                                "contact": "" + res.contact + "",
                                "name": "" + res.name + "",
                                "email": "" + res.email + ""
                            },
                            "notes": {
                                "description": "" + res.description + ""
                            },
                            "theme": {
                                "color": "#2300a3"
                            }
                        };
                        var razorpayObject = new Razorpay(options);
                        razorpayObject.on('payment.failed', function (response) {
                            alert("Payment Failed");
                        });
                        razorpayObject.open();
                    }
                    else {
                        console.log('alert msg')
                        alert(res.msg);
                    }
                }
            })

        });
    });

</script>

</html>