<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" href="/css/search.css">
    <title>MobiStore</title>
    <style></style>
</head>

<body>
    <header>
        <nav class="first_nav">
            <div class="location">

                <div><i class="fa-solid   fa-location-dot"></i></div>

                <button class="find-state status fa solid">location</button>

            </div>
            <div class="specifications2">
                <ul>
                    <li class="nav_of_spex_3"><a href="/admin/shopResitration">Became Seller</a></li>
                    <div class="nav_of_spex_4">
                        <% if(isAuthenticated) { %>
                            <form action="/admin/user/logout" method="post" class="logOutbtn">
                                <button class="logOutbtn">logged out</button>
                            </form>
                            <%} else{ %>
                                <li>
                                    <a href="/admin/user/login">
                                        <button>login</button>
                                    </a>
                                </li>
                                <li class="signupbotton">
                                    <a href="/admin/user/signup">
                                        <button>signup</button>
                                    </a>
                                </li>
                                <%}%>
                    </div>
                </ul>
            </div>
        </nav>
        <nav class="second_nav">
            <div class="website_Logo">
                <a href="/"><img width="190" src="/img/weblogo.png" alt=""></a>
            </div>
            <div class="search">
                <form action="" method="" class="searchBar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="search" id="" placeholder="eg. iphone 14">
                    <input type="submit" value="SEARCH">
                </form>
            </div>
            <% if(shopfind) { %>
                <div class="dashboard">
                    <a href="/admin/dashboard/all-product">dashboard</a>
                </div>
                <%} else if(isAuthenticated) { %>
                    <div class="shop">
                        <p>Ankit singh </p>
                        <div class="tooltip">
                            <i class="fa-solid fa-user"></i>
                            <a href="#" class="tooltiptext">Order</a>
                        </div>
                    </div>
                    <% } else { %>


                        <%}%>

        </nav>
    </header>


    <% if (prods.length> 0) { %>
        <div class="bodyContainer">
            <div class="mainContent">

                <!-- first phone -->

                <% prods.forEach(product => { %>

                        <div class="Content">
                            <div class="aboutProduct">
                                <div class="image">
                                    <img type="image" src="<%= product.imageurl %>" alt="" height="240" width="auto">
                                </div>
                                <div class="aboutPhone">
                                    <ul>
                                        <li><strong>
                                                <%= product.name %>
                                            </strong></li>
                                        <li>
                                            <%= product.distance %>KM
                                        </li>
                                        <li>
                                            <%= product.shopResitration %>
                                        </li>
                                        <li>google Tensor G2 Processor</li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <span class="rupees-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                            <path
                                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                                        </svg>
                                    </span><strong>
                                        <%= product.price %>
                                    </strong>
                                </div>
                            </div>
                            <div class="orderOptions1">
                                <div class="orderBtn1">
                                    <form action="/user/order" method="post">
                                        <input type="hidden" value="<%= product._id%>" name="productId">
                                        <button class="buttons1" type="submit">BookNow</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <% }); %>


            </div>
        </div>
        <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>



                <!-- footer -->
                <footer>

                    <div class="contact_container">
                        <a href="">
                            <div class="footer_logo">
                                <img src="../img/weblogo-footer.png" width="190" alt="">
                            </div>
                        </a>
                        <div class="social">
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="Croma-Support">
                        <h2>Support</h2>
                        <ul>
                            <li><a href="#" target="_blank">Contact Us</a></li>
                            <li><a href="./FAQs.html" target="_blank">FAQs</a></li>
                            <li><a href="./buyGuide.html" target="_blank">Buying Guide</a></li>
                            <li><a href="./returnPolicy.html" target="_blank">Return Policy</a></li>
                            <li><a href="./PrivacyPolicy.html" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="customer_car">
                        <h2>Customer Care</h2>
                        <div>
                            <span>Phone: 8792097283</span>
                            <span>, 9887934024</span>
                        </div>

                    </div>
                </footer>
                <div>
                    <div class="lastfooter">
                        <div class="sitelog">
                            <img src="../img/weblogo-footer.png" width="140" alt="sitelogo" sizes="" srcset="">
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="#" target="_blank">Terms & Conditions </a></li>
                                <li><a href="#" target="_blank">Shipping & Warranty</a></li>
                                <li><a href="#" target="_blank">Copyright Guidelines</a></li>
                                <li><a href="#" target="_blank">Contributor Partners</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <div class="copyright_symbol">
                                <span> &#169;</span>
                                <span>2023 Copyright</span>
                            </div>
                        </div>
                    </div>
                </div>


</body>

</html>